openapi: 3.0.3
info:
  title: Sinay Maritime APIs CO2 Emission Metocean API
  description: 'Consolidated OpenAPI description of five Sinay Developers Platform APIs - Ports and Vessels, Metocean, CO2 Emission, ETA (ETAC), and Port Congestion. Every Sinay API is served over HTTPS from the single host api.sinay.ai, with each product mounted under its own versioned base path (for example `/co2/api/v2` or `/ports-vessels/api/v1`). All endpoints require an API key passed in an `API_KEY` request header; get a free key from the Sinay Developers Platform (https://developers.sinay.ai/).

    This document consolidates the individual per-product Swagger files published live at https://api.sinay.ai/<product>/api/<version>/swagger.yaml (confirmed 2026-07-12). Paths, methods, the API_KEY security scheme, and the CO2 / ETA / congestion request and response shapes below are taken directly from those live specs. Where a request or response body is only summarized here rather than fully expanded, consult the upstream per-product Swagger.'
  version: '1.0'
  contact:
    name: Sinay
    url: https://sinay.ai
servers:
- url: https://api.sinay.ai
  description: Sinay Developers Platform (all products; product base path in each route)
security:
- ApiKey: []
tags:
- name: Metocean
  description: Meteorological and oceanographic conditions for an area and time.
paths:
  /metocean/api/v1/models:
    get:
      operationId: retrieveMetoceanModels
      tags:
      - Metocean
      summary: Retrieve available metocean models.
      responses:
        '200':
          description: The list of available metocean models.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /metocean/api/v1/stations:
    post:
      operationId: retrieveMetoceanStations
      tags:
      - Metocean
      summary: Retrieve metocean stations for an area, time, and model.
      description: Returns metocean station data for a geographic area (GeoJSON), a time window, and a chosen model. `area`, `time`, and `model` are required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - area
              - time
              - model
              properties:
                area:
                  type: object
                  description: Geographic area, e.g. a GeoJSON Polygon.
                time:
                  type: object
                  description: Time window for the metocean data.
                model:
                  type: object
                  description: The metocean model to query (see GET /models).
            example:
              area:
                geoJson:
                  type: Polygon
                  coordinates:
                  - - - 35.5
                      - -55.7
                    - - 36.2
                      - -65.5
                    - - 65.0
                      - -64.9
                    - - 64.6
                      - -55.1
                    - - 35.5
                      - -55.7
              time:
                start: '2022-05-01T00:00:00.000Z'
                end: '2022-05-02T00:00:00.000Z'
              model:
                name: default
      responses:
        '200':
          description: Metocean station data for the requested area.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: The authentication failed (missing or invalid API_KEY).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorInfo'
    BadRequest:
      description: The body in the request is not correct.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorInfo'
  schemas:
    ErrorInfo:
      type: object
      required:
      - errorCode
      - message
      - details
      - time
      properties:
        errorCode:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: string
        time:
          type: string
          format: date-time
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: API_KEY
      description: API key issued by the Sinay Developers Platform, sent in the `API_KEY` request header on every call.
