openapi: 3.2.0
info:
  title: Sinay Maritime Metocean API
  description: Consolidated OpenAPI description of five Sinay Developers Platform APIs - Ports and Vessels, Metocean, CO2 Emission, ETA (ETAC), and Port Congestion.
  version: '1.0'
  contact:
    name: Sinay
    url: https://sinay.ai
servers:
- url: https://api.sinay.ai
  description: Sinay Developers Platform (all products; product base path in each route)
security:
- ApiKey: []
tags:
- name: Metocean
  description: Meteorological and oceanographic conditions for an area and time.
paths:
  /metocean/api/v1/models:
    get:
      operationId: retrieveMetoceanModels
      tags:
      - Metocean
      summary: Retrieve available metocean models
      responses:
        '200':
          description: The list of available metocean models.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /metocean/api/v1/stations:
    post:
      operationId: retrieveMetoceanStations
      tags:
      - Metocean
      summary: Retrieve metocean stations for an area, time, and model
      description: Returns metocean station data for a geographic area (GeoJSON), a time window, and a chosen model. `area`, `time`, and `model` are required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - area
              - time
              - model
              properties:
                area:
                  type: object
                  description: Geographic area, e.g. a GeoJSON Polygon.
                time:
                  type: object
                  description: Time window for the metocean data.
                model:
                  type: object
                  description: The metocean model to query (see GET /models).
            example:
              area:
                geoJson:
                  type: Polygon
                  coordinates:
                  - - - 35.5
                      - -55.7
                    - - 36.2
                      - -65.5
                    - - 65.0
                      - -64.9
                    - - 64.6
                      - -55.1
                    - - 35.5
                      - -55.7
              time:
                start: '2022-05-01T00:00:00.000Z'
                end: '2022-05-02T00:00:00.000Z'
              model:
                name: default
      responses:
        '200':
          description: Metocean station data for the requested area.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: The body in the request is not correct.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorInfo'
    Unauthorized:
      description: The authentication failed (missing or invalid API_KEY).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorInfo'
  schemas:
    ErrorInfo:
      type: object
      required:
      - errorCode
      - message
      - details
      - time
      properties:
        errorCode:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: string
        time:
          type: string
          format: date-time
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: API_KEY
      description: API key issued by the Sinay Developers Platform, sent in the `API_KEY` request header on every call.
