openapi: 3.2.0
info:
  title: Sinay Maritime Ports and Vessels API
  description: Consolidated OpenAPI description of five Sinay Developers Platform APIs - Ports and Vessels, Metocean, CO2 Emission, ETA (ETAC), and Port Congestion.
  version: '1.0'
  contact:
    name: Sinay
    url: https://sinay.ai
servers:
- url: https://api.sinay.ai
  description: Sinay Developers Platform (all products; product base path in each route)
security:
- ApiKey: []
tags:
- name: Ports and Vessels
  description: Vessel and port lookup from combined satellite and terrestrial AIS.
paths:
  /ports-vessels/api/v1/vessels:
    get:
      operationId: getVesselsByName
      tags:
      - Ports and Vessels
      summary: Retrieve a list of vessels from a name, an MMSI or an IMO
      description: Returns a list of none/one/several vessels matching the input. Provide at least three characters of the vessel name, or an MMSI / IMO number.
      parameters:
      - name: vesselNameOrCode
        in: query
        required: true
        description: At least 3 letters of the vessel name, the MMSI or the IMO.
        example: cla
        schema:
          type: string
          minLength: 3
      - name: numberOfResult
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
      responses:
        '200':
          description: A list of matching vessels.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Default'
  /ports-vessels/api/v1/ports:
    get:
      operationId: getPortsByNameOrCode
      tags:
      - Ports and Vessels
      summary: Retrieve a list of ports from a name or an unlocode
      description: Returns a list of ports matching the input. Provide at least three characters of the port name or the port UN/LOCODE.
      parameters:
      - name: portNameOrCode
        in: query
        required: true
        description: At least 3 letters of the port name or the port code.
        example: bal
        schema:
          type: string
          minLength: 3
      - name: numberOfResult
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
      responses:
        '200':
          description: A list of matching ports.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Default'
components:
  schemas:
    ErrorInfo:
      type: object
      required:
      - errorCode
      - message
      - details
      - time
      properties:
        errorCode:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: string
        time:
          type: string
          format: date-time
  responses:
    Default:
      description: Default error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorInfo'
    Unauthorized:
      description: The authentication failed (missing or invalid API_KEY).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorInfo'
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: API_KEY
      description: API key issued by the Sinay Developers Platform, sent in the `API_KEY` request header on every call.
