openapi: 3.0.3
info:
  title: Sinay Maritime APIs
  description: >-
    Consolidated OpenAPI description of five Sinay Developers Platform APIs -
    Ports and Vessels, Metocean, CO2 Emission, ETA (ETAC), and Port Congestion.
    Every Sinay API is served over HTTPS from the single host api.sinay.ai, with
    each product mounted under its own versioned base path (for example
    `/co2/api/v2` or `/ports-vessels/api/v1`). All endpoints require an API key
    passed in an `API_KEY` request header; get a free key from the Sinay
    Developers Platform (https://developers.sinay.ai/).

    This document consolidates the individual per-product Swagger files published
    live at https://api.sinay.ai/<product>/api/<version>/swagger.yaml (confirmed
    2026-07-12). Paths, methods, the API_KEY security scheme, and the CO2 / ETA /
    congestion request and response shapes below are taken directly from those
    live specs. Where a request or response body is only summarized here rather
    than fully expanded, consult the upstream per-product Swagger.
  version: '1.0'
  contact:
    name: Sinay
    url: https://sinay.ai
servers:
  - url: https://api.sinay.ai
    description: Sinay Developers Platform (all products; product base path in each route)
security:
  - ApiKey: []
tags:
  - name: Ports and Vessels
    description: Vessel and port lookup from combined satellite and terrestrial AIS.
  - name: Metocean
    description: Meteorological and oceanographic conditions for an area and time.
  - name: CO2 Emission
    description: Per-voyage CO2 emission computation using vessel-model and GLEC tradelane methods.
  - name: ETA
    description: Estimated time of arrival prediction for a vessel to a destination port.
  - name: Port Congestion
    description: Aggregated live port congestion data.
  - name: Usage
    description: Monthly API usage and credit-consumption reporting.
paths:
  /ports-vessels/api/v1/vessels:
    get:
      operationId: getVesselsByName
      tags:
        - Ports and Vessels
      summary: Retrieve a list of vessels from a name, an MMSI or an IMO.
      description: >-
        Returns a list of none/one/several vessels matching the input. Provide at
        least three characters of the vessel name, or an MMSI / IMO number.
      parameters:
        - name: vesselNameOrCode
          in: query
          required: true
          description: At least 3 letters of the vessel name, the MMSI or the IMO.
          example: cla
          schema:
            type: string
            minLength: 3
        - name: numberOfResult
          in: query
          required: false
          description: Maximum number of results to return.
          schema:
            type: integer
      responses:
        '200':
          description: A list of matching vessels.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Default'
  /ports-vessels/api/v1/ports:
    get:
      operationId: getPortsByNameOrCode
      tags:
        - Ports and Vessels
      summary: Retrieve a list of ports from a name or an unlocode.
      description: >-
        Returns a list of ports matching the input. Provide at least three
        characters of the port name or the port UN/LOCODE.
      parameters:
        - name: portNameOrCode
          in: query
          required: true
          description: At least 3 letters of the port name or the port code.
          example: bal
          schema:
            type: string
            minLength: 3
        - name: numberOfResult
          in: query
          required: false
          description: Maximum number of results to return.
          schema:
            type: integer
      responses:
        '200':
          description: A list of matching ports.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Default'
  /ports-vessels/api/v1/usages:
    get:
      operationId: getPortsVesselsUsages
      tags:
        - Usage
      summary: Retrieve your monthly usages for the Ports and Vessels API.
      parameters:
        - $ref: '#/components/parameters/UsageStartTime'
        - $ref: '#/components/parameters/UsageEndTime'
      responses:
        '200':
          description: Monthly usages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsagesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /metocean/api/v1/models:
    get:
      operationId: retrieveMetoceanModels
      tags:
        - Metocean
      summary: Retrieve available metocean models.
      responses:
        '200':
          description: The list of available metocean models.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /metocean/api/v1/stations:
    post:
      operationId: retrieveMetoceanStations
      tags:
        - Metocean
      summary: Retrieve metocean stations for an area, time, and model.
      description: >-
        Returns metocean station data for a geographic area (GeoJSON), a time
        window, and a chosen model. `area`, `time`, and `model` are required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - area
                - time
                - model
              properties:
                area:
                  type: object
                  description: Geographic area, e.g. a GeoJSON Polygon.
                time:
                  type: object
                  description: Time window for the metocean data.
                model:
                  type: object
                  description: The metocean model to query (see GET /models).
            example:
              area:
                geoJson:
                  type: Polygon
                  coordinates: [[[35.5, -55.7], [36.2, -65.5], [65.0, -64.9], [64.6, -55.1], [35.5, -55.7]]]
              time:
                start: '2022-05-01T00:00:00.000Z'
                end: '2022-05-02T00:00:00.000Z'
              model:
                name: default
      responses:
        '200':
          description: Metocean station data for the requested area.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /metocean/api/v1/usages:
    get:
      operationId: getMetoceanUsages
      tags:
        - Usage
      summary: Retrieve your monthly usages for the Metocean API.
      parameters:
        - $ref: '#/components/parameters/UsageStartTime'
        - $ref: '#/components/parameters/UsageEndTime'
      responses:
        '200':
          description: Monthly usages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsagesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /co2/api/v2/compute-co2:
    post:
      operationId: computeCo2
      tags:
        - CO2 Emission
      summary: Retrieve CO2 consumption for a trip from one port to another.
      description: >-
        Computes the CO2 emissions of a TEU for a voyage between two ports.
        Identify the vessel by IMO or MMSI (not both). Departure and arrival are
        ports identified by 5-character UN/LOCODE. Returns voyage length in
        nautical miles and tons of CO2 per TEU for a vessel-model method
        (Tank-to-Wheel) and a GLEC Framework tradelane method (Well-to-Tank,
        Tank-to-Wheel, Well-to-Wheel).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeCo2Request'
            example:
              vessel:
                imo: 9706906
                speed: 13.00
              departure:
                portCode: FRLEH
              arrival:
                portCode: ESBCN
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeCo2Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /co2/api/v2/usages:
    get:
      operationId: getCo2Usages
      tags:
        - Usage
      summary: Retrieve your monthly usages for the CO2 Emission API.
      parameters:
        - $ref: '#/components/parameters/UsageStartTime'
        - $ref: '#/components/parameters/UsageEndTime'
      responses:
        '200':
          description: Monthly usages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsagesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /etac/api/v1/compute-eta:
    post:
      operationId: computeEta
      tags:
        - ETA
      summary: ETA computation for a vessel to a destination port.
      description: >-
        Predicts a vessel's estimated time of arrival. Identify the vessel by IMO
        (or MMSI). With only a vessel and an arrival port, the API selects the
        latest AIS-transmitted position as the departure point; alternatively
        supply a departure port and date. Arrival is a port UN/LOCODE. `vessel`
        and `arrival` are required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EtaRequest'
            example:
              vessel:
                imo: 9706906
              departure:
                date: '2020-01-10T10:00:00.000Z'
                portCode: FRLEH
              arrival:
                portCode: ESBCN
      responses:
        '200':
          description: The predicted ETA.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /etac/api/v1/usages:
    get:
      operationId: getEtaUsages
      tags:
        - Usage
      summary: Retrieve your monthly usages for the ETA API.
      parameters:
        - $ref: '#/components/parameters/UsageStartTime'
        - $ref: '#/components/parameters/UsageEndTime'
      responses:
        '200':
          description: Monthly usages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsagesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /congestion/api/v1/congestion/{portCode}:
    get:
      operationId: retrieveCongestionAggregate
      tags:
        - Port Congestion
      summary: Retrieve aggregated congestion data for a port.
      parameters:
        - name: portCode
          in: path
          required: true
          description: The port code (UN/LOCODE) of the port.
          schema:
            type: string
      responses:
        '200':
          description: Aggregated congestion data for the port.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Default'
  /congestion/api/v1/congestion/batch:
    post:
      operationId: retrieveCongestionAggregateBatch
      tags:
        - Port Congestion
      summary: Retrieve aggregated congestion data for multiple ports.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - portCodes
              properties:
                portCodes:
                  type: array
                  minItems: 1
                  maxItems: 10
                  description: List of port codes (UN/LOCODE), maximum 10.
                  items:
                    type: string
            example:
              portCodes:
                - FRLEH
                - ESBCN
      responses:
        '200':
          description: Aggregated congestion data for the requested ports.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /congestion/api/v1/consumption/current-period:
    get:
      operationId: retrieveCurrentConsumptionPeriod
      tags:
        - Usage
      summary: Retrieve the current credit consumption period.
      responses:
        '200':
          description: The current credit consumption period.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /congestion/api/v1/consumption/periods:
    get:
      operationId: retrieveConsumptionPeriods
      tags:
        - Usage
      summary: Retrieve all credit consumption periods.
      responses:
        '200':
          description: All credit consumption periods.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: API_KEY
      description: >-
        API key issued by the Sinay Developers Platform, sent in the `API_KEY`
        request header on every call.
  parameters:
    UsageStartTime:
      name: startTime
      in: query
      required: false
      description: Start time at which usages must be found.
      schema:
        type: string
        format: date-time
    UsageEndTime:
      name: endTime
      in: query
      required: false
      description: End time at which usages must be found.
      schema:
        type: string
        format: date-time
  schemas:
    Vessel:
      type: object
      properties:
        imo:
          type: integer
          format: int64
          description: 'IMO ship identification number: 7 digits.'
          example: 9706906
        mmsi:
          type: integer
          format: int64
          description: 'MMSI identifier of the vessel: 9 digits.'
          example: 215199000
        speed:
          type: number
          format: double
          description: Average speed in knots, should be under 25.
          example: 13.00
    Port:
      type: object
      properties:
        portCode:
          type: string
          description: UN/LOCODE (5-character code identifying the port per the UNECE).
    ComputeCo2Request:
      type: object
      properties:
        vessel:
          $ref: '#/components/schemas/Vessel'
        departure:
          $ref: '#/components/schemas/Port'
        arrival:
          $ref: '#/components/schemas/Port'
    ComputeCo2Response:
      type: object
      properties:
        input:
          $ref: '#/components/schemas/ComputeCo2Request'
        length:
          type: number
          format: double
          description: Voyage length in nautical miles.
          example: 1709.7834398908199
        co2EmissionResult:
          $ref: '#/components/schemas/Co2EmissionResults'
    Co2EmissionResults:
      type: object
      properties:
        vesselMethodResult:
          $ref: '#/components/schemas/Co2MethodResult'
        tradeLaneMethodResult:
          $ref: '#/components/schemas/Co2MethodResult'
    Co2MethodResult:
      type: object
      properties:
        co2Wtt:
          type: number
          format: double
          description: CO2 Well-to-Tank emission in Ton/TEU.
        co2Ttw:
          type: number
          format: double
          description: CO2 Tank-to-Wheel emission in Ton/TEU.
        co2Wtw:
          type: number
          format: double
          description: CO2 Well-to-Wheel emission in Ton/TEU.
        WtwEmissionIntensity:
          type: number
          description: CO2 Well-to-Wheel emission in Ton/TEU per kilometer.
    EtaRequest:
      type: object
      required:
        - vessel
        - arrival
      properties:
        vessel:
          $ref: '#/components/schemas/Vessel'
        departure:
          type: object
          properties:
            date:
              type: string
              format: date-time
              description: Departure date/time.
            portCode:
              type: string
              description: Departure port UN/LOCODE.
        arrival:
          type: object
          properties:
            portCode:
              type: string
              description: Arrival port UN/LOCODE.
    UsagesResponse:
      type: object
      properties:
        allCalls:
          type: integer
          format: int64
        successCalls:
          type: integer
          format: int64
        clientErrorCalls:
          type: integer
          format: int64
        serverErrorCalls:
          type: integer
          format: int64
        consumedApiUnits:
          type: integer
          format: int64
    ErrorInfo:
      type: object
      required:
        - errorCode
        - message
        - details
        - time
      properties:
        errorCode:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: string
        time:
          type: string
          format: date-time
  responses:
    BadRequest:
      description: The body in the request is not correct.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorInfo'
    Unauthorized:
      description: The authentication failed (missing or invalid API_KEY).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorInfo'
    Default:
      description: Default error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorInfo'
